@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
button {
  border: none;
}
.backface {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome 和 Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
/*文字定义*/
.f-size-12 {
  font-size: 12px;
}
.f-size-14 {
  font-size: 14px;
}
.f-size-16 {
  font-size: 16px;
}
.f-size-18 {
  font-size: 18px;
}
.f-size-20 {
  font-size: 20px;
}
.f-size-24 {
  font-size: 24px;
}
.f-size-30 {
  font-size: 30px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.hide {
  display: none;
}
.b-t-f0f0f0 {
  border-top: 1px solid #f0f0f0;
}
/* 颜色 */
/*页面主颜色*/
.vm {
  vertical-align: middle;
}
.vt {
  vertical-align: top;
}
.vs {
  vertical-align: super;
}
/* dislpay*/
.dis-no {
  display: none;
}
.dis-bl {
  display: block;
}
.dis-in {
  display: inline;
}
.dis-in-bl {
  display: inline-block;
}
.dis-li {
  display: list-item;
}
.dis-ta {
  display: table;
}
/* position */
.po-re {
  position: relative;
}
.po-ab {
  position: absolute;
}
.po-fi {
  position: fixed;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.mlr16 {
  margin: 0 16px;
}
.m20 {
  margin: 10px;
}
.m_t {
  margin-top: 20px;
}
.bg {
  background: #ffffff;
  border-radius: 10px;
}
.p20 {
  padding: 20px;
  box-sizing: border-box;
}
.p10 {
  padding: 10px;
  box-sizing: border-box;
}
.p_l_20 {
  padding-left: 20px;
  box-sizing: border-box;
}
input {
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}
/*去除默认输入框底色*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:-webkit-autofill {
  background-color: #ffffff !important;
  background-image: none;
  color: #999999;
}
.align_items_center {
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
}
.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.cur {
  cursor: pointer;
}
.word_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.word_over2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
}
.box_sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
#app {
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
#app ::-webkit-scrollbar {
  width: 6px;
  /*滚动条宽度*/
  height: 6px;
  /*滚动条高度*/
}
#app ::-webkit-scrollbar-track {
  border-radius: 3px;
  /*滚动条的背景区域的圆角*/
}
#app ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /*滚动条的圆角*/
  background-color: rgba(151, 168, 190, 0.3);
  /*滚动条的背景颜色*/
}
.main_button_bg {
  display: block;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #4583F0;
  color: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4583F0;
  cursor: pointer;
}
.main_button_bg:hover {
  background-color: #4574DF;
}
.main_button {
  display: block;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4583F0;
  cursor: pointer;
}
.main_button:hover {
  border: 1px solid #4574DF;
}
.main_button_color {
  display: block;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #4583F0;
  border: 1px solid #4583F0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.main_button_color:hover {
  opacity: 0.7;
}
.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.3) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  line-height: 1;
}
.popup .popup_box {
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -242px;
  padding: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -webkit-box-shadow: inset 0 0 10px #474747;
  -moz-box-shadow: inset 0 0 10px #474747;
  -webkit-box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);
  -moz-box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);
  box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media screen and (max-height: 767px) {
  .popup .popup_box {
    padding-top: 30px;
  }
}
@media screen and (max-height: 767px) {
  .popup .popup_box {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1366px) {
  .popup .popup_box {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1366px) {
  .popup .popup_box {
    padding-right: 30px;
  }
}
.popup .popup_title {
  font-size: 18px;
}
.popup .cancelIcon {
  font-size: 14px;
  font-weight: bold;
}
.popup .cancelIcon:hover {
  color: #4574DF;
}
.list_el_table .el-table__body-wrapper {
  max-height: calc(100vh - 368px);
  overflow-y: auto;
}
@media screen and (max-height: 768px) {
  .list_el_table .el-table__body-wrapper {
    max-height: calc(100vh - 298px);
  }
}
.list_el_table .el-table__header {
  background-color: #F2F3F9;
}
.list_el_table table tr td:first-child,
.list_el_table table tr th:first-of-type {
  border-top-left-radius: 6px;
}
.list_el_table table tr td:last-child,
.list_el_table table tr th:nth-last-child(2) {
  border-top-right-radius: 6px;
}
.list_el_table table tr td:first-child,
.list_el_table table tr th:first-of-type {
  border-bottom-left-radius: 6px;
}
.list_el_table table tr td:last-child,
.list_el_table table tr th:nth-last-child(2) {
  border-bottom-right-radius: 6px;
}
.list_el_table .el-table__header .cell,
.list_el_table .el-table__body .cell {
  font-size: 14px;
  max-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list_el_table .el-table__header .cell {
  font-size: 16px;
}
.list_el_table .el-table__header tr th,
.list_el_table .el-table__body tr td {
  padding: 7px 0;
}
@media screen and (max-height: 768px) {
  .list_el_table .el-table__header tr th,
  .list_el_table .el-table__body tr td {
    padding: 2px 0;
  }
}
.list_el_table .el-table__header tr th:last-child,
.list_el_table .el-table__body tr td:last-child {
  text-align: center;
}
.list_el_table .el-table__body {
  border-collapse: separate;
  border-spacing: 0px 5px;
  background-color: #F2F3F9;
}
.list_el_table .el-table td,
.list_el_table .el-table th.is-leaf {
  border-bottom: none;
  margin-bottom: 20px;
}
.list_el_table .el-table th,
.list_el_table .el-table td {
  height: 50px;
}
@media screen and (max-height: 767px) {
  .list_el_table .el-table th,
  .list_el_table .el-table td {
    height: 40px;
  }
}
.content {
  width: 100%;
  height: 100%;
  padding: 10px 100px 95px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
@media screen and (max-height: 767px) {
  .content {
    padding: 10px 100px 50px;
  }
}
.red_border input {
  border: 1px solid red;
}
#app {
  background-color: #F2F3F9;
}
.el_icon:hover {
  color: #4574DF;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.upload_progress {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 330px;
  min-height: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  z-index: 1100;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.upload_progress .upload_progress_close {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 16px;
  color: #999999;
  cursor: pointer;
}
.upload_progress .upload_progress_title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #DCDCDC;
}
.upload_progress .upload_progress_ul {
  max-height: 310px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.upload_progress .upload_progress_ul .upload_progress_li {
  height: 40px;
  line-height: 40px;
  padding: 6px;
  position: relative;
}
.upload_progress .upload_progress_ul .upload_progress_li:not(:first-of-type) {
  margin-top: 6px;
}
.upload_progress .upload_progress_ul .upload_progress_li .upload_progress_img {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: bottom;
}
.upload_progress .upload_progress_ul .upload_progress_li .upload_progress_img img {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: center;
  max-width: 32px;
}
.upload_progress .upload_progress_ul .upload_progress_li .upload_progress_name {
  display: inline-block;
  vertical-align: middle;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.upload_progress .upload_progress_ul .upload_progress_li .upload_progress_percent {
  position: absolute;
  left: 44px;
  top: 20px;
}
.upload_progress .upload_progress_ul .upload_progress_li .upload_progress_percent .el-progress--line {
  width: 240px;
  display: inline-block;
}
.upload_progress .upload_progress_ul .upload_progress_li .upload_progress_size {
  font-size: 12px;
  color: #999999;
  padding-left: 20px;
}
.upload_progress .upload_progress_ul .upload_progress_li .el-icon-check {
  position: absolute;
  top: 0px;
  right: 6px;
  color: #409EFF;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  display: inline;
  font-weight: bold;
}
